@charset "UTF-8";
.modify-main {width: 720px; height: 700px;text-align: center;}
.modify-main .top {height: 100px; border-bottom: 2px solid rgb(107, 107, 107);}
.modify-main .title input {width: 640px; margin: 3px; padding: 5px;}
.modify-main .title {border-bottom: 2px solid rgb(107, 107, 107);}
.modify-main .content textarea{ resize: none; margin: 5px; }
.modify-main .content { border-bottom: 2px solid rgb(107, 107, 107); }
.modify-main .pass { display: inline-block; margin: 20px 10px; }
.modify-main .cancle {display: inline-block; margin: 40px 10px 0;}
.modify-main .cancle a {width: 100px; height: 50px; border: none;}
.modify-main .fileAdd {text-align: right; padding: 0px; margin-bottom: 0.2rem;}
.modify-main .fileAdd input {max-width: 210px;}
.modify-main .fileAdd>button { width: 1.2rem; height: 1.2rem; background-color: rgb(255,100,100); display: inline-block; color:white; font-weight: bold; text-align: center; border: none; border-radius: 0;}
.modify-main .fileAdd>button:hover { color: white; background-color: red;}
.modify-main .fileAdd .oldFileData { color: blue; display: inline-block;}
.modify-main .fileAdd .oldFileData:hover { cursor: pointer;text-decoration: underline;}